<section class="clearfix">
		<div class="container aboutus">
			<!--<div class="section-left">
				<p>Instant detection.</p>			
			</div>-->
			<div id="myCarousel" class="carousel slide">
			<!-- （Carousel） -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
			</ol>  
			<!-- Carousel -->
			<div class="carousel-inner">
				<div class="item active myCarousel0">
					<p>Instant detection.</p>	
				</div>
				<div class="item myCarousel1">
					<p>Instant ECG analysis.</p>	
				</div>
				<!--<div class="item myCarousel2">
					<p>Instant detection.</p>	
				</div>-->
			</div>
			<!-- （Carousel） -->
			<a class="carousel-control left" href="#myCarousel"
				data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#myCarousel"
				data-slide="next">&rsaquo;</a>
			</div>

		</div>
</section>
<section class="info">
		<div class="container feature">
			<div class="description-feature">
						<div class="description-heading">
								<h2>Product Features</h2>						
						</div>
						<div class="description-body">
								<h3>ECG in 30-Seconds</h3>
								<p> Smaller than a credit card, Cardiocare sensor allows you to capture ECGs anywhere, anytime. In 30 seconds, it records a medical-grade ECG. Cardiocare mobile application easily installed to most smartphones making it convenient to always have with you.</p>
								<h3>Track and Share</h3>
								<p>Cardiocare's app-based service enables you to proactively care for the health of your heart. Now you can capture reliable heart activity data and relay it to your doctor to inform your diagnosis and treatment plan.</p>
								<h3>Expert ECG Analysis and More</h3>
								<p> Cardiocare web application offers instant ECG analysis, and consultations with board-certified cardiologists, so it's easy to know whether heart rhythm is normal or in atrial fibrillation.</p>
						</div>
			</div>
		</div>
</section>
<section class="clearfix">
    	<div class="container">
				<div class="description-feature steps-container">
						<div class="description-heading steps">
								<h2 class="h2">Getting started is as easy as 1, 2, 3.</h2>						
						</div>
						<div class="description-body">
								<div class="step col-md-4">
									<div class="number-in-circle">1</div>
									<div class="description">
										<p>
										Download the Cardiocare app to your smartphone, tablet, or Apple Watch.
										</p>
									</div>
								</div>
								<div class="step col-md-4">
									<div class="number-in-circle">2</div>
									<div class="description">
										<p>
										Record an ECG in just 30 seconds and know immediately if your heart rhythm is normal.
										</p>
									</div>
								</div>	
								<div class="step col-md-4">
									<div class="number-in-circle">3</div>
									<div class="description">
										<p>
											Instantly share your heart data with a doctor, or keep a journal of your ECGs to share at your next appointment.
										</p>
									</div>
								</div>																						
						</div>
				</div>
    	</div>
</section>
