<div id="main">
    <header>
            <ol class="breadcrumb">
            <li> <a routerLink="./dashboard">patient</a></li>
            <li class="active"><a routerLink="./tests">tests</a></li>
            </ol>
    </header>
    <div id="content">
          <div class="content  table-responsive">
             <div class="well well-bg" style="background-color: #EDF5FA;">
                 <div class="row" style="font-size: 0.8em;">
                      <div class="col-md-12">
                          <form class="search-form" #searchForm="ngForm">
                              <div class="form-group">
                                  <label>Search test data: </label>
                              </div>
                              <div class="row">
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label for="pwd">From: &nbsp;&nbsp;</label>
                                              <div class="input-group date" id="datepicker">
                                                  <input type="date" class="form-control" placeholder="2015-01-01" autocomplete="off" required = "required" ngModel name="from" #from = "ngModel">
                                              </div>
                                          </div>
                                       </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="pwd">To: &nbsp;&nbsp;</label>
                                                <div class="input-group date" id="datepicker1">
                                                    <input type="date" class="form-control" placeholder="2016-07-07"  autocomplete="off" required = "required" ngModel name="to" #to = "ngModel">
                                                </div>
                                            </div>
                                        </div>
                                 </div>

                                 <div class="row">
                                          <div class="col-md-6">
                                              <div class="form-group">
                                                  <div class="input-group">
                                                        <input id='checkbox-1' type="checkbox"  ngModel name="comment" #comment = "ngModel"/>
                                                        <label for="checkbox-1" class="checkbox" >Only Commented Tests</label>
                                                        <input id='checkbox-1' type="checkbox"  ngModel name="note" #note = "ngModel"/>
                                                        <label for="checkbox-1" class="checkbox">Only Noted Tests</label>                                                  
                                                  </div>
                                              </div>
                                          </div>
                                  </div>

                                  <div class="text-right">
                                      <button type="reset" class="btn btn-danger" (click)="onReset(searchForm.value)">Reset</button>&nbsp;&nbsp;&nbsp;
                                      <button id="searchClick" class="btn btn-primary" (click)="onSearch(searchForm.value)">Search</button>
                                  </div>
                        </form>
                    </div><!--col-md-12-->
                </div><!--row-->
            </div><!--well-->
            <div *ngIf="loadTestData" class="table table-striped recommendation  imgloader">
                    <img src="../assets/images/loader.gif"/>
            </div> 
            <table *ngIf="!loadTestData" class="table table-striped recommendation " [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
                <thead>
                    <tr>
                        <th style="width: 14%">
                            <mfDefaultSorter by="total_records">Record</mfDefaultSorter>
                        </th>
                        <th style="width: 14%">
                            <mfDefaultSorter by="total_comments">Comments</mfDefaultSorter>
                        </th>
                        <th style="width: 14%">
                            <mfDefaultSorter by="total_notes"> Notes</mfDefaultSorter>
                        </th>
                        <th style="width: 22%">
                            <mfDefaultSorter by="length"> Length</mfDefaultSorter>
                        </th>
                        <th style="width: 20%">
                            <mfDefaultSorter by="created">Created</mfDefaultSorter>
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of mf.data">
                        <td>{{item.total_records}}</td>
                        <td>{{item.total_comments}}</td>
                        <td>{{item.total_notes}}</td>
                        <td>{{item.length}}</td>
                        <td (click)="testOnclick(item.id)"><a>{{item.created}}</a></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15,25]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div><!--table-responsive-->

    </div><!--content-->
</div>
