.form-group{
    margin-bottom: 15px;
    padding-left: 10px;
    padding-top: 10px;
}
.form-group label{
    float: left;
    line-height: 40px;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
}
.form-group .input-group{
    float: left;
    width: 50%;
}
.form-group .input-group input{
    padding-left: 10px;;
}